extends _layouts/site

block vars
  - pageClass = 'my-pageclass'
  - description = 'INSERT DESCRIPTION'
  // - var ogTags = {url: 'URL', title: 'TITLE', desc: description, img: 'IMG', twitterImg: 'TWITTER IMG', type: 'article'}

block content
  section
